{% include header.html %}


<p>
<form class="create-post">
<fieldset>

{% if user %}
<legend>Share with the world!</legend>
{% if user %}<h3>Welcome {{user.username}}!</h3><br />{% end if %}
{% else %}
<legend>New to Street Line?</legend>
{% end if %}

<p>We are a locating and sharing service for anyone who sees interesting things on their streets. Just snap a picture and in a few easy steps share it with the world!</p>
<p>Issues? Please contact the website maintainer at <a class="plain-text" href="mailto:samuel@swalladge.id.au">samuel@swalladge.id.au</a>.</p>
<br />

{% if user %}
<a class="button create" href="/submit">Submit a new post</a>
{% else %}
<a class="button create" href="/signup">Sign-up</a>
<a class="button create" href="/login">Login</a>
{% end if %}

</fieldset>
<br />

</form>
</p>

{% if posts %}

<br />

<center>
<h3>Recently shared locations</h3>
</center>

    {% for post in posts %}
        <center>
        <h4><a href="/post/{{post.id}}">{{ post.title }}</a></h4>
        <a href="/post/{{post.id}}"><div class="newsfeed-image"><img src="{{ post.image }}"></a></div>
        </center>
        <br />
    {% end for %}
{% end if %}
        
{% include footer.html %}
